<div class="col-md-6 col-md-offset-3">
    <div class="thumbnail">
        <div class="header" style="height: 40px;">
            <div style="float: left; margin: 7px 0 10px 0;">
                <strong>{{ post.author }}</strong>
            </div>
            {% if request.user == post.author %}
                <div style="float: right; margin-bottom: 5px;">
                    <form action="{% url 'post:post_delete' pk=post.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="img" id="post-{{ post.pk }}">
            <a href="{% url 'post:post_detail' pk=post.pk %}">
                <img class="img-responsive" src="{{ post.photo.url }}" alt="">
            </a>
        </div>
        <div class="caption">
            <div class="created">
                {{ post.created_at }}
            </div>

            {#    댓글    #}

            <div id="post-comments-{{ post.pk }}" style="margin: 5px 0 10px 0;">
                {% for comment in post.comments.all %}
                    <div class="text-left">
                        <span style="display: inline-block; line-height: 2;"><strong>{{ comment.author }}</strong></span>
                        <span>{{ comment.content }}</span>

                        {# 댓글 삭제 #}

                        {% if request.user == comment.author %}
                            <form style="display: inline-block; float: right;" action="{% url 'post:comment_delete' pk=comment.pk %}?next=/post/#post-{{ post.pk }}" method="post">
                                {% csrf_token %}
                                <button style="padding: 5px 0 0 0;" type="submit" class="btn btn-link">삭제</button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {# 댓글 쓰기 #}

            <form class="form-inline"
                  action="{% url 'post:comment_add' pk=post.pk %}?next=
                  {% if post_type == 'list' %}
                    /post/#post-{{ post.pk }}
                  {% elif post_type == 'detail' %}
                    {% url 'post:post_detail' pk=post.pk %}
                  {% endif %}"
                  method="post">
                {% csrf_token %}
                <div class="form-group" style="position: relative; width: 100%;">
                    <input style="width: 85%;" type="text" class="form-control" name="content" id="id-text">
                    <button style="position: absolute; top: 0; right: 0;" class="btn btn-sm btn-primary" type="submit">댓글 달기</button>
                </div>

            </form>
        </div>
    </div>
</div>

