{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for post in posts %}
        <div class="img">
            <img src="{{ post.photo.url }}" alt="">
        </div>
        <div class="content">
        <p>{{ post.content }}</p>
        </div>
        <div class="created">
            {{ post.created_at }}
        </div>
        <div class="comment">
            {% for comment in post.postcomment_set.all %}
                <span>댓글: {{ comment.content }}</span>
                 <span>{{ comment.created_at }}</span>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <textarea name="comment" id="" cols="30" rows="2"></textarea>
                <button type="submit">댓글 달기</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}