<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Husky's Instagram</title>
</head>
<body>
<div class="container" style="margin: 0 auto"></div>
{% for post in posts %}
    <div class="img">
    <img src="/media/{{ post.photo }}" alt="">
    </div>
    <div class="created">
    {{ post.created_at }}
    </div>
{% endfor %}
</div>
</body>
</html>