{% extends 'base.html' %}

{% block content %}
    <img src="{{ post.photo.url }}" alt="">
    {% for comment in post.comments.all %}
        <li>{{ comment.content }}</li>
    {% endfor %}
    <div class="comment-input">
        <form class="form-horizontal" action="{% url 'comment_add' pk=post.pk %}" method="post">
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="form-group">
                {{ field.label }}
            </div>
            <div class="col-sm-10">
                {{ field }}
            </div>
            {% endfor %}
            <div class="col-sm-10">
                <button class="btn btn-sm btn-primary" type="submit">댓글 달기</button>
            </div>
        </form>
    </div>
{% endblock %}